button {
  padding: 10px 10px;
  background-color: gold;
}
body {
  background-image: url(imag/scale_1200.jpg);
}

h2 {
  background-color: whitesmoke;
  weight: 100;
  text-size-adjust: 100;
  color: black;
  font-weight: 100;
  height: 100;
}
h1 {
  color: green;
}
